 html, body {
    background-color: #333;
    color: #fff;
 }

 .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .id_ok {
    color: #6A82FB;
    display: none;
 }

 .id_already {
    color: red;
    display: none;
 }

 .pw_notavail {
    color: red;
    display: none;
 }

 .pw_avail {
    color: #6A82FB;
    display: none;
 }

 .positive {
    color: #6A82FB;
    display: none;
 }

 .negative {
    color: red;
     display: none;
 }